apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer
  labels:
    app: customer
    tier: microservice    
spec:
  replicas: 3
  selector:
    matchLabels:
      app: customer
  template:
    metadata:
      labels:
        app: customer
    spec:
      containers:
        - name: customer
          image: registry.gitlab.com/ch-mc-b/autoshop-ms/app/shop/customer:3.0.0
          imagePullPolicy: Always
          ports:
            - containerPort: 8080

